# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# DotEnv configuration
.env

# Database
*.db
*.rdb

# Pycharm
.idea

# VS Code
.vscode/

# Spyder
.spyproject/

# Jupyter NB Checkpoints
.ipynb_checkpoints/

# exclude data from source control by default
/data/
notebooks/data/processed/
notebooks/models/

# Mac OS-specific storage files
.DS_Store

# vim
*.swp*.log
logs/.pytest_cache/
.ipython/Thumbs.db*~
*.bakout/
bin/
*.swo

# Mypy cache
.mypy_cache/

# Credentials
/credentials/

# Entorno virtual
.venv/

# Modelos
/models/*

# El doblle asterisco (**) asegura que funcione en subcarpetas (como data/raw, data/processed)
# Con el ! se asegura que no se ignoren los ficheros .dvc que queremos añadir.
!/data/**/*.dvc
# Y es importante no ignorar el propio fichero .dvc que queremos añadir
!/data/raw.dvc
!/data/processed/**/*.dvc
!/data/interim.dvc
!/models/**/*.dvc

# DVC a menudo crea un .gitignore dentro de la carpeta de datos
# Es buena practica asegurarse de quye ese fichero tampoco sea ignorado.

!/data/.gitignore
!/models/.gitignore
/models
/test_dvc.txt
/test_dvc.csv
